/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-size: var(--main-tekst-size);
  font-family: var(--main-font-family);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  display: grid;
  /* grid-template-rows: auto max-content auto; */
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  align-items: start;
  position: relative;
  z-index: 0;
}

.header-logo {
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  align-self: self-start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  margin-block-start: 73px;
}

.header-paragraph {
  color: var(--header-paragraph-color);
  text-align: left;
  font-weight: 700;
  line-height: 23.4px; 
}

.header__theme-menu {
  margin-block-start: 39px;
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  margin: 0;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  outline: 1px solid transparent;
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-property: outline;
  cursor: pointer;
  line-height: 18px;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
  border-color: 1px solid var(--accent-color, #ff007040)
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus {
  outline: 0;
  outline-offset: 2px;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--accent-color), #ff007040;
}

.header__rec {
  font-family: var(--main-font-family);
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var(--accent-color);
  inset-inline-end: 0;
  inset-block-start: 0;
  z-index: 3;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  top: 0;
  right: 0;
  border-top: var(--accent-color) 1px solid;
  border-right: var(--accent-color) 1px solid;
  z-index: -1;
  margin: 10px 10px 0 0;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  bottom: 0;
  left: 0;
  border-bottom: var(--accent-color) 1px solid;
  border-left: var(--accent-color) 1px solid;
  z-index: -1;
  margin: 0 0 10px 10px;
}

.header__rec::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 7px;
  block-size: 7px;
  z-index: 4;
}

.header-text {
  inline-size: 355px;
  block-size: 117px;
  margin: 55px 0 56px;
  background-color: var(--accent-color);
}

.text-block__heading {
  color: var(--section-heading-color);
  line-height: 23.4px;
  font-size: var(--main-tekst-size);
  margin: 50px 10px 20px;
}

.accent-color-text {
  color: var(--accent-color);
}
.text-block__heading-last {
  margin: 40px 10px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.paragraph-accent {
  color: var(--accent-color);
  font-weight: 700;
  line-height: 23.4px;
  margin: 50px 10px 20px;
}

.text-block__subheading {
  color: var(--main-heading-color);
  line-height: 23.4px;
  margin: 0 10px;
}

.title-decor {
  color:  var(--main-heading-color);
  margin-block-start: 20px;
  margin-block-end: 10px;
  background-color: var(--accent-color);
}

.content__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.content__link:hover {
  text-decoration: underline;
}

.content__link:focus {
  outline: 0;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
}

.text-block__paragraph {
  color: var(--main-text-color);
  font-weight: 400;
  line-height: 23.4px;
  margin: 10px 10px 20px;
}

.text-heading {
  color: var(--main-heading-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin: 0 10px;
}

.section {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.grid-image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.grid-heading {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin: 30px 0 10px;
}

.section-gallery  {
  padding: 0 10px;
}

.footer {
  margin-block-start: 40px;
  position: relative;
  inline-size: 375px;
  block-size: 667px;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo  {
  align-items: center;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.footer::after {
  content: "";
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  top: 0;
  right: 0;
  border-top: var(--accent-color) 1px solid;
  border-right: var(--accent-color) 1px solid;
  z-index: -1;
  margin: 10px 10px 0 0;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  bottom: 0;
  left: 0;
  border-bottom: var(--accent-color) 1px solid;
  border-left: var(--accent-color) 1px solid;
  z-index: -1;
  margin: 0 0 10px 10px;
}

